<div class="justify-content-center row">
<div class="col-lg-3">
<div class="card">
  <div class="card-header">
    Logo : Digi Roster
  </div>
  <div class="p-4 position-relative card-body">
    <div >
      <h4 class="pageheading">Forgot Password</h4>
    </div>
    <form   >
      <div class="form-group">
      	<span></span>
        <input autocomplete="off" formControlName="user_name" name="username" placeholder="Enter your username" required="" id="username" type="text" class="is-touched is-pristine av-valid form-control" >
         
        </div>          
          <div class="form-group">
            <button  type="submit" class="btn btn-success">Send Email</button>
          </div>
         
        </form>
      </div>
    </div>

  </div>
</div>